<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="com.samsung.accessory.wmanager" android:versionCode="2020121151" android:versionName="1.0.20121151" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.samsung.accessory.atticmgr" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="29"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_97e07ce1078a6186f3935d8d1b04521c68ccaf6831a6937cd39a66a1f50a375ed168d5694da4d91e90ca17116a4731c3e23ec6dc0470549951ea1475b363a13e0709baafc02d24f9dfb9c9d670bf550a6c612d4981a11f7b94cde5d06fd1591c7bedc997a270375351bdce7043f91f268aa0a3ecf1c89c2f11c3e2fe4d32cf9e"/>
    <uses-permission android:name="com.samsung.android.bixby.agent.permission.READ_PUBLIC_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.voicewakeup.permission.EXECUTE_EXTERNAL_SERVICE"/>
    <permission android:label="@string/iconx_signature_permission" android:name="com.samsung.accessory.atticmgr.permission.SIGNATURE" android:protectionLevel="signature" android:description="@string/iconx_signature_permission_decription"/>
    <uses-permission android:name="com.samsung.accessory.atticmgr.permission.SIGNATURE"/>
    <uses-permission android:name="com.samsung.android.hostmanager.permission.ACCESS_UNIFIED_HOST_MANAGER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.sec.android.app.clockpackage.permission.READ_ALARM"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="com.samsung.android.permission.SEM_AUTO_BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="com.sec.android.phone.permission.READ_CALL_SETTINGS"/>
    <uses-permission android:name="com.sec.android.phone.permission.WRITE_CALL_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="samsung.permission.wearablelogrequest"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.samsung.android.soagent.permission.ACCESSORY"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.samsung.android.app.routines.permission.ROUTINE_HOST"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="com.sec.android.diagmonagent.permission.DIAGMON"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="com.sec.android.permission.DSMLAWMO"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-feature android:name="android.software.companion_device_setup" android:required="false"/>
    <uses-permission android:name="com.samsung.android.oneconnect.permission.START_SERVICE"/>
    <permission android:name="com.samsung.accessory.atticmgr.permission.ACCESSORYDM" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="com.samsung.accessory.atticmgr.provider.Settings.READ"/>
    <uses-permission android:name="com.samsung.accessory.atticmgr.provider.Settings.WRITE"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_3629419c2ae0170d349b2e5fbd55497a8a87c8b1723cbf1b5f6f0be11b7d2cf79f10f870cada167283cfdaed5523b1f0e397472a695f0176e92d6d8d9455af1a1cd4aa42b6dddf9341d9ca7cfe4c5c32ad82c030524ecc3c6610916e13f61964c2be969f8da953fb710cb4cb3ec00241048b1e97b68ebaebec4654b894caae20"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.sec.android.settings.permission.SOFT_RESET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/galaxy_wearable_nonlaunchable" android:name="com.samsung.accessory.hearablemgr.Application" android:debuggable="false" android:allowBackup="false" android:hardwareAccelerated="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineNoiseControlConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineBixbyVoiceWakeUpConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineVoiceDetectConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.DetectConversationsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.touchcontrols.TouchAndHoldActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.BixbyVoiceWakeUpActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.SpatialAudioActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.HearingEnhancementsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <receiver android:label="@string/widget_label_battery" android:name="com.samsung.accessory.hearablemgr.core.appwidget.WidgetBatteryProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_battery_appwidget_provider"/>
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="@string/widget_battery_appwidget_config_activity"/>
        </receiver>
        <receiver android:label="@string/widget_label_quick_control" android:name="com.samsung.accessory.hearablemgr.core.appwidget.WidgetMasterProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_master_appwidget_provider"/>
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="@string/widget_master_appwidget_config_activity"/>
        </receiver>
        <service android:name="com.samsung.accessory.atticmgr.core.notification.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:enabled="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.samsung.android.notification.listener.autobind" android:value="user"/>
        <meta-data android:name="com.samsung.android.gearplugin.supportFMM" android:value="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar.Translucent" android:name="com.samsung.accessory.hearablemgr.module.LaunchActivity" android:permission="com.samsung.android.hostmanager.permission.ACCESS_UNIFIED_HOST_MANAGER" android:exported="true" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.samsung.uhm.action.STEALTH_MODE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.samsung.android.intent.category.HIDDEN_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme.NoActionBar.Home" android:name="com.samsung.accessory.hearablemgr.module.home.HomeActivity" android:exported="false" android:launchMode="singleTask" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.softwareupdate.SoftwareUpdateActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/you_re_all_set" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.YouAreAllSetActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.notification.NewNotificationActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.notification.NewManageNotificationActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.TermsAndConditionsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.MoreUsefulFeaturesActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.notification.NotificationDetailActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.AdvancedActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.GamingModeActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.FindMyEarbudsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.tipsmanual.TipsAndUserManualActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutmenu.LabsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutmenu.AboutEarbudsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutmenu.LegalnformationActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutmenu.BatteryInformationActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/end_user_license_agreement" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.NoticeEULAActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/privacy_policy" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.NoticePrivacyPolicyActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/permissions" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.PermissionsActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:label="@string/report_diagnostic_info" android:name="com.samsung.accessory.hearablemgr.module.setupwizard.NoticeDiagnosticInfoActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineEqualizerConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineLockTouchpadConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineNotificationConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineGamingModeConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/RoutineConfigurationDialog" android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineTouchpadOptionConfigActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutgalaxywearable.VerificationMenuActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutgalaxywearable.VerificationDeviceInfoActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutgalaxywearable.VerificationDumpLogActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.aboutgalaxywearable.AboutGalaxyWearableActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.GeneralActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <activity android:theme="@style/AppWidgetTheme" android:name="com.samsung.accessory.hearablemgr.core.appwidget.WidgetSettingBatteryActivity" android:taskAffinity="@string/widget_settings_task" android:excludeFromRecents="true" android:configChanges="uiMode" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppWidgetTheme" android:name="com.samsung.accessory.hearablemgr.core.appwidget.WidgetSettingMasterActivity" android:taskAffinity="@string/widget_settings_task" android:excludeFromRecents="true" android:configChanges="uiMode" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.samsung.accessory.hearablemgr.module.mainmenu.SeamlessConnectionActivity" android:exported="false" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize" android:resizeableActivity="true"/>
        <service android:name="com.samsung.accessory.hearablemgr.core.service.MainService" android:exported="false"/>
        <service android:name="oreocompat.InstantForegroundService" android:exported="false"/>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.bluetooth.BluetoothReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED"/>
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED"/>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
                <action android:name="android.bluetooth.device.action.ALIAS_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.gamemode.GameModeReceiver" android:permission="android.permission.WRITE_SECURE_SETTINGS" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.game.gos.ACTION_GAME_RESUME_PAUSE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.gamemode.ScreenOnOffReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.gamemode.MaxBufferReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.bluetooth.a2dp.intent.action.DUAL_PLAY_MODE_ENABLED"/>
                <action android:name="com.samsung.android.bluetooth.audiocast.action.device.AUDIO_SHARING_MODE_CHANGED"/>
                <action android:name="com.samsung.android.bluetooth.audiocast.action.device.CONNECTION_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.samsung.accessory.hearablemgr.core.bixbyroutine.RoutineActionProvider" android:permission="android.permission.WRITE_SECURE_SETTINGS" android:exported="true" android:authorities="@string/routine_provider_authorities">
            <intent-filter>
                <action android:name="com.samsung.android.SDK.routine.ROUTINE_ACTION_UPDATE"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.SDK.routine.meta.ACTION" android:resource="@xml/routine_actions"/>
        </provider>
        <provider android:name="com.sec.android.diagmonagent.log.provider.DiagMonProvider" android:permission="com.sec.android.diagmonagent.permission.PROVIDER" android:exported="true" android:authorities="@string/diagmon_provider_authorities"/>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.aom.AomReceiver" android:permission="com.samsung.android.hostmanager.permission.ACCESS_UNIFIED_HOST_MANAGER" android:enabled="false" android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.accessory.earbuds.action.AOM_SETTING_LAUNCH"/>
            </intent-filter>
            <meta-data android:name="plugin_name" android:value="@string/app_name"/>
        </receiver>
        <receiver android:name="com.samsung.accessory.hearablemgr.core.fmm.receiver.FmmRequestReceiver" android:permission="com.sec.android.permission.DSMLAWMO">
            <intent-filter>
                <action android:name="com.samsung.android.fmm.OPERATION_REQUEST"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.samsung.android.fotaprovider.LogDumpProvider" android:exported="false" android:authorities="com.samsung.accessory.atticmgr.LogDumpProvider" android:directBootAware="true"/>
        <service android:name="com.samsung.android.fotaagent.push.FcmPushListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.samsung.android.fotaagent.internalevent.InternalEventReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.sec.android.fotaprovider.internal.SETUPWIZARD_COMPLETE"/>
                <action android:name="com.sec.android.fotaprovider.internal.SOFTWARE_UPDATE"/>
                <action android:name="com.sec.android.fotaprovider.internal.LAST_UPDATE"/>
                <action android:name="com.sec.android.fotaprovider.internal.DEVICE_CONNECTION"/>
                <category android:name="com.sec.android.fotaprovider"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.fotaagent.PollingReceiver" android:exported="false">
            <intent-filter>
                <action android:name="sec.fotaprovider.action.POLLING_TIME"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.fotaagent.FotaSPPReceiver">
            <intent-filter>
                <action android:name="40a985eacedf50ec"/>
                <action android:name="com.sec.spp.NotificationAckResultAction"/>
                <action android:name="com.sec.spp.RegistrationChangedAction"/>
                <action android:name="com.sec.spp.ServiceDataDeletedAction"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <category android:name="com.sec.android.fotaprovider"/>
            </intent-filter>
        </receiver>
        <service android:name="com.samsung.android.fotaagent.FotaUpdateJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.samsung.android.fotaagent.FotaRegisterJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name="com.accessorydm.receiver.XDMBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.accessorydm.receiver.XDMAlarmReceiver" android:permission="com.samsung.accessory.atticmgr.permission.ACCESSORYDM">
            <intent-filter>
                <action android:name="com.sec.android.fotaprovider.POSTPONED"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/FotaProviderTheme.DialogActivity" android:name="com.accessorydm.ui.dialog.XUIDialogActivity" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.checkingforupdate.XUICheckingForUpdateActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.installconfirm.XUIInstallConfirmActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.progress.XUIProgressActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.downloadconfirm.XUIDownloadConfirmActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:label="@string/STR_ACCESSORY_UPDATE_TITLE_EARBUDS" android:name="com.accessorydm.ui.downloadandinstallconfirm.DownloadAndInstallConfirmActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.noupdatable.XUINoUpdatableVersionActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/FotaProviderTheme.Activity" android:name="com.accessorydm.ui.lastupdate.XUILastUpdateActivity" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.Translucent" android:name="com.accessorydm.ui.XUINotificationConnectActivity" android:exported="false" android:excludeFromRecents="true" android:screenOrientation="behind" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <service android:name="com.accessorydm.service.XDMJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.accessorydm.service.XDMService"/>
        <service android:name="com.accessorydm.ui.notification.manager.StubNotificationTypeManagerService"/>
        <service android:name="com.accessorydm.ui.notification.manager.NotificationId$Common"/>
        <service android:name="com.accessorydm.ui.notification.manager.NotificationId$UpdateReport"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <provider android:name="androidx.work.impl.WorkManagerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.samsung.accessory.atticmgr.workmanager-init" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.foreground.SystemForegroundService" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:name="com.samsung.android.sdk.bixby2.provider.CapsuleProvider" android:exported="true" android:authorities="com.samsung.accessory.atticmgr.CapsuleProvider"/>
        <meta-data android:name="com.samsung.android.sdk.bixby2.companionApp" android:value="true"/>
        <service android:name="com.sec.android.diagmonagent.log.ged.scheduler.GEDJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
